html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: solid salmon 1px;
}
body > * {
  margin: 0.5rem 8rem;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header > * {
  border: solid black 2px;
}
.nav-links ul {
  display: flex;
  flex-direction: row;
}
ul {
  list-style: none;
  gap: 1rem;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.under-header {
  display: flex;
}
.under-header > * {
  border: solid maroon 2px;
  flex: 1;
  padding: 3rem 0;
}
.text {
  display: flex;
  flex-direction: column;
  text-align: left;

  justify-content: center;
}
.text > * {
  border: solid black 1px;
  display: flex;
  align-items: left;

  justify-content: left;
}
.text small {
  /* width: 4rem; */
}
button {
  padding: 1rem 2rem;
}
.placeholder-img {
  display: flex;
}
actual-box {
  display: flex;
  flex: 1;
  background-color: pink;
  align-items: center;
}

/* .random-info {
  background: #ffd3b6;
}
.quote {
  background: #ffaaa5;
}
.call-to-action {
  background: #a8e6cf;
}
.footer {
  background: #fdffab;
} */
