html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: solid salmon 8px;
  font-family: "Courier New", Courier, monospace;
}
body > * {
  padding: 0.5rem 8rem;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(210, 36, 65);
}
.header > * {
  border: solid black 2px;
}
.header-logo {
  display: flex;
  align-self: center;
  font-weight: 600;
  color: aliceblue;
}

.nav-links ul {
  display: flex;
  flex-direction: row;
}
ul {
  list-style: none;
  gap: 3rem;
}
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.under-header {
  display: flex;
  background-color: rgb(210, 36, 65);
}
.under-header > * {
  border: solid maroon 2px;
  flex: 1;
  padding: 3rem 0;
}
.text {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  color: aliceblue;
}
.text > * {
  border: solid black 1px;
  display: flex;
  padding: 0.5rem 0rem;
  justify-content: left;
}

bold {
  font-size: xx-large;
  font-weight: 600;
}
button {
  padding: 1rem 2rem;
  font-family: "Courier New", Courier, monospace;
  background-color: pink;
  border-radius: 4%;
  box-shadow: 6px 3px 3px rgb(195, 72, 92);

  font-weight: 600;
}
.placeholder-img {
  display: flex;
}
actual-box {
  display: flex;
  flex: 1;
  background-color: pink;
}
actual-box > * {
  display: flex;
  flex: 1;
  align-self: center;
  justify-content: center;
}

.random-info {
  display: flex;
  flex-direction: column;
  border: solid red 1px;
}

.random-info > * {
  border: solid blueviolet 1px;
}
.title {
  display: flex;
  flex: 1;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
}
.boxes {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 1rem 1rem;
}
.boxes > * {
  display: flex;
  flex-direction: column;
  padding: 15px 15px;
  margin: 0 1rem;
  width: 200px;
  height: 200px;
  border: dotted darkmagenta;
}
.display {
  width: 100%;
  height: 100%;
  border: solid pink 5px;
  border-radius: 3%;
  align-self: center;
}
.box-text {
  font-size: xx-small;
  text-align: center;
}

/* .random-info {
  background: #ffd3b6;
}
.quote {
  background: #ffaaa5;
}
.call-to-action {
  background: #a8e6cf;
}
.footer {
  background: #fdffab;
} */
